/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #072fff;
  --ifm-color-primary-dark: #0029f5;
  --ifm-color-primary-darker: #0025e0;
  --ifm-color-primary-darkest: #0022cc;
  --ifm-color-primary-light: #1f44ff;
  --ifm-color-primary-lighter: #3355ff;
  --ifm-color-primary-lightest: #4766ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #4766ff;
  --ifm-color-primary-dark: #3355ff;
  --ifm-color-primary-darker: #1f44ff;
  --ifm-color-primary-darkest: #072fff;
  --ifm-color-primary-light: #5c77ff;
  --ifm-color-primary-lighter: #7088ff;
  --ifm-color-primary-lightest: #8599ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
